body {
  margin: 100px;
  min-width: 250px;
  background-color: #F0F7D4;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 }

/*Títol todo list*/

h2 {
  margin: 20px;
  text-align: center;
  color:#347B98;
  font-size: 50px;
 
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
/*Estils del div */

div {
  margin-bottom: 35px;
  margin-top: 35px;
  border-radius: 10px;
}

/* Style the list items */
#myUL {
  border-radius: 15px;
  padding: 25px;
  background-color: #66B032;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #F0F7D4;
  font-size: 18px;
  transition: 0.2s;
  margin:20px;
 
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #092834;
  color: #B2D732;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #F0F7D4;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #347B98;
  color: white;
}

/* Style the header */
.header {
  background-color: #66B032;
  padding: 30px 40px;
  color: #B2D732;
  text-align: center;
  
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #347B98;
  color: #F0F7D4;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #5f5f5d;
}
